* {
  margin: 0;
  padding: 0;
}

/* http://blogs.luc.edu/farmersmarket/files/2020/06/Produce-1140x550.jpg */

body {

 
}

/* nav */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.recipes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.recipe-options-items {
  display: flex;
  

}

.market-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5%;
  
}
