* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'danielregular';
    src: url('./fonts/daniel-regular-webfont.woff2') format('woff2'),
         url('./fonts/daniel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'amaranthbold';
  src: url('./fonts/amaranth-bold-webfont.woff2') format('woff2'),
       url('./fonts/amaranth-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'amaranthregular';
  src: url('./fonts/amaranth-regular-webfont.woff2') format('woff2'),
       url('./fonts/amaranth-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  background-image: url('./images/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fcfdfc;
}

h1 {
  padding: 20px;
  font-family: 'amaranthregular';
  color: #4d253f;
  background-color: #f4e5d8;
  border-radius: 50px 20px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'amaranthregular';
}

li {
  list-style: none;
  font-family: 'danielregular';
  font-size: 1.5em;
  height: 50px;
  padding: 2%;
}

a {
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px; 
}

a:visited {
  color: #facb01;
}

.home {
  font-family: 'danielregular';
  font-size: 4em;
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  padding-top: 5%;
  color: #fcfdfc;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5%;
}

.recipes-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.recipe-option-items {
  display: flex;
  flex-direction: row;
  padding: 2%;
  text-align: left;
  justify-content: space-between;
  align-items: baseline;
  height: 50px;
}

.market-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.groceries-by-market {
  width: 18%;
  text-align: center;
}

.recipe-options h1 {
  text-align: center;
}

.recipe-options {
  width: 25%;
  margin: 10px;
}

.recipes {
  display: flex;
  flex-direction: column;
}

.selected-recipes {
  width: 25%;
  text-align: center;
  margin: 10px;
}



